{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'nav.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <style>
            .collapsed {
              display: none;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Yublles</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/product/sell/1/">Sell</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Best Sellers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Electronics</a></li>
                      <li><a class="dropdown-item" href="#">Clothing</a></li>
                      <li><a class="dropdown-item" href="#">Footware</a></li>
                      <li><a class="dropdown-item" href="#">Home Accessory</a></li>
                      <li><a class="dropdown-item" href="#">Vehicle Accessory</a></li>
                      <li><a class="dropdown-item" href="#">Toys</a></li>
                      <li><a class="dropdown-item" href="#">Sport Equipments</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <li class="nav-welcome">
                    <p>Welcome {{ username }}</p>
                </li>

                <li class="nav-logout">
                    <a class="btn btn-warning" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="cart-nav" style="list-style: none; padding-left: 10px;">
                  <a class="btn" href="/cart/"><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>
              </div>
            </div>
        </nav>
        <br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-4">
                  {% if is_seller %}
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">My Profile</h5>
                          <p class="card-text"><strong>Username:</strong> {{ username }}</p>
                          <p class="card-text"><strong>Email:</strong> {{ email }}</p>
                          <p class="card-text"><strong>Account Created At:</strong> {{ created_at }}</p>
                          <p class="card-text"><strong>Products Bought:</strong> {{ prod_bought }}</p>
                          <p class="card-text"><strong>Products Listed:</strong>{{ prod_listed }}</p>
                          <p class="card-text"><strong>Products Sold:</strong> {{ prod_sold }}</p>
                          <p class="card-text"><strong>Seller Type:</strong>{{seller_type}}</p>
                          <p class="card-text"><strong>Company Name:</strong>{{company_name}}</p>
                        </div>
                        <div class="card-footer">
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Delete
                          </button>
                          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal0">
                              Update
                          </button>
                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to delete this account?
                                  All your orders and products listed will be cancelled!!
                                </div>
                                <div class="modal-footer">
                                  <form action="/profile/delete/" method="POST">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Update Account</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Update your username or email
                                </div>
                                <div class="modal-footer">
                                  <form class="form-group" id="update-form">
                                    {% csrf_token %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="check01">
                                        <label class="form-check-label" for="check01">Username</label>
                                    </div>
                                    <div id="username-section" class="collapsed">
                                        <label for="Username">Username</label>
                                        <input type="text" id="Username" name="username" class="form-control"/>
                                    </div>
                                    <br>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="check02">
                                        <label class="form-check-label" for="check02">Email</label>
                                    </div>
                                    <div id="email-section" class="collapsed">
                                        <label for="Email">Email</label>
                                        <input type="email" id="Email" name="email" class="form-control"/>
                                    </div>
                                    <button type="submit" class="btn btn-danger mt-3">Update</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% else %}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">My Profile</h5>
                        <p class="card-text"><strong>Username:</strong> {{ username }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ email }}</p>
                        <p class="card-text"><strong>Account Created At:</strong> {{ created_at }}</p>
                        <p class="card-text"><strong>Products Bought:</strong> {{ prod_bought }}</p>
                      </div>
                      <div class="card-footer" style="text-align: center;">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal0">
                            Update
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this account?
                                All your orders and products listed will be cancelled!!
                              </div>
                              <div class="modal-footer">
                                <form action="/profile/delete/" method="POST">
                                  {% csrf_token %}
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Update your username or email
                              </div>
                              <div class="modal-footer">
                                <form class="form-group" id="update-form">
                                  {% csrf_token %}
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="check01">
                                      <label class="form-check-label" for="check01">Username</label>
                                  </div>
                                  <div id="username-section" class="collapsed">
                                      <label for="Username">Username</label>
                                      <input type="text" id="Username" name="username" class="form-control"/>
                                  </div>
                                  <br>
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="check02">
                                      <label class="form-check-label" for="check02">Email</label>
                                  </div>
                                  <div id="email-section" class="collapsed">
                                      <label for="Email">Email</label>
                                      <input type="email" id="Email" name="email" class="form-control"/>
                                  </div>
                                  <button type="submit" class="btn btn-danger mt-3">Update</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
        <script>
            document.getElementById('check01').addEventListener('change', function() {
              const usernameSection = document.getElementById('username-section');
              if (this.checked) {
                  usernameSection.classList.remove('collapsed');
              } else {
                usernameSection.classList.add('collapsed');
              }
          });

          document.getElementById('check02').addEventListener('change', function() {
            const emailSection = document.getElementById('email-section');
            if (this.checked) {
                emailSection.classList.remove('collapsed');
            } else {
                emailSection.classList.add('collapsed');
            }
          });
          document.getElementById('update-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(this);
            for (let [key, value] of formData.entries()) {
              console.log(`${key}: ${value}`);
            }
            const data = {};
            formData.forEach((value, key) => {
              data[key] = value;
            });

            axios.patch('/profile/update/', data, {
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Include CSRF token for security
              }
            })
            .then(response => {
              console.log('Success:', response.data);
              if (response.data.redirect_url) {
                window.location.href = response.data.redirect_url; // Redirect client-side
              }
            })
            .catch(error => {
              if (error.response) {
                // Server responded with a status other than 2xx
                console.error('Error:', error.response.data);
              } else if (error.request) {
                // Request was made but no response was received
                console.error('Error: No response received');
              } else {
                // Something happened in setting up the request
                console.error('Error:', error.message);
              }
            });

          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
            }
            return cookieValue;
          }
        });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>